.title {
    display: none;
    // background-color: black;
    // color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    .bg {
        // background-color: red;
        padding: 10px 30px !important;
        margin: 15px;
        box-shadow: 9px 5px 5px;

        .icon {
            height: 40px;
            margin: 10px;
        }
    }
}