.title {
    display: none;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: x-large;
}


.bg {
    // background-color: red;
    padding: 10px;
    margin: 10px;

    .icon {
        height: 40px;
        margin: 10px;
    }
}