@import "../../global.scss";

Card{
    background-color: red;
}
.MuiPaper-root-MuiCard-root{
align-self: center;
justify-self: end;
flex-direction: column;
// @include mobile{
//     flex-direction: column;
// }
}

.media {
    // display: flex;
    // flex-direction: column;
    // gap: 10px;
    // order: 1;
    // background-color: black;
    border-radius: 0 2% 2% 0;
    height: 100%;
    align-self: center;
    justify-self: center;
    width: 60%;
    object-fit: contain;
    &:hover{
        cursor: pointer;
        .video{
            
            display: flex; 
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 100%;
            width: 100%;
            video{
                height: 95%;
                width: 95%;
            }
            img{
                height: 100%;
            object-fit: contain; 
                // size: 10%;
            }
        }
        .row{
            display: none;
        }
        .row1{
            display: none;
            
        }

        .row2{
            display: none;
            
        }
    }
    .video{
        display: none;
        height: 100%;
        width: 100%;
    }
    .row1{
        
        display: flex;
        overflow: hidden;
        height: 50%;
        justify-content: center;
        .MuiCardMedia-root{
            object-fit: contain; 
            padding: 2px;
            border-radius: 5px;
        }
    }

    .row2{
        display: flex;
        overflow: hidden;
        height: 50%;
        justify-content: center;
        .MuiCardMedia-root{
            object-fit: contain; 
            padding: 2px;
            border-radius: 5px;
        }
 
    }
}

.content{
    //background-color: rgba(0, 255, 229, 0.525);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    .top{
        padding: 10px 10px;
        justify-content: center;
        // background-color: red;
        .tags{
            display: flex;
            flex-wrap: wrap;
            padding: 10px 10px;
            .tag{
                padding: 0 3px;
            }
        }
    }
    .bottom{
        // background-color: green;
        padding-bottom: 30px;
        .buttons{
            a{
                Button{
                    object{
                        pointer-events: none;
                    }
                }
            }
        }
        .MuiCardActions-root{
            padding-right: 30px;
            justify-content: end;
            
        }
    }
}
