.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
}

.gallery-item {
  flex: 0 0 calc(50% - 10px); /* Adjust width to fit two items per row with gap */
  max-width: calc(30% - 20px);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s;
}

.gallery-item img {
  padding: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item:hover img {
  transform: scale(1.1);
}
