.timeline-container {

    // background-image: url("https://firebasestorage.googleapis.com/v0/b/krishpandyaportfolio.appspot.com/o/assets%2Fumd2.jpg");
    // background-color: red;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 100vw;
    position: relative;

}


.timeline-entry {
    // background-color: blue;
    // margin-top: 10%;
    flex: 0 0 100vw;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 20px;
    box-sizing: border-box;
    text-align: center;
    height: 100vh;
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* Ensures the image fits the element */
    background-position-y: -50px;
    top: -25px;
    .job-card {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100%;
        
        .top {

            width: 100%;
            height: 30%;
            display: flex;

            .icon {
                border-radius: 50%;
                padding: 2px;

                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    border: 1px solid black;

                }
            }

            .year {

                margin-bottom: 0;

            }

            .job-title {}

            .company-name {}
        }

        .bottom {

            height: 70%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            .skills-list {
                display: flex;
                flex-direction: row;
                width: 75%;
                padding: 2rem;
                justify-content: center;
                .tags {
                    display: flex;
                    flex-direction: row;
                    .tag{
                        object-fit: contain;
                        img{
                            margin : 2px
                        }
                    }
                }
            }

            .description {
                padding: 2rem;

                .description-item {
                    width: 33.33%;

                    .description-text-top {
                        font-size: 18px;
                    }

                    .description-text-number {
                        font-size: 40px;
                    }

                    .description-text-bottom {
                        font-size: 18px;
                    }
                }
            }
        }

    }
}


/* Specific background for the first entry */
.timeline-entry:first-child {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/krishpandyaportfolio.appspot.com/o/assets%2Ftimeline_start.svg?alt=media") !important;
}

/* Specific background for the last entry */
.timeline-entry:last-child {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/krishpandyaportfolio.appspot.com/o/assets%2Ftimeline_end.svg?alt=media") !important;
}

/* Default background for all other entries */
.timeline-entry:nth-child(odd) {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/krishpandyaportfolio.appspot.com/o/assets%2Ftimeline_mid_top.svg?alt=media");

    .job-card {

        flex-direction: column;

        .top {
            padding-top: 27.5px;
            flex-direction: column;
            
            .year {}
        }
        .bottom{

            flex-direction: column;
        }
    }
}

.timeline-entry:nth-child(even) {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/krishpandyaportfolio.appspot.com/o/assets%2Ftimeline_mid_bottom.svg?alt=media");

    .job-card {

        flex-direction: column-reverse;

        .top {
            height: fit-content;
            margin-top: 20px;
            padding-bottom: 75px;
            flex-direction: column-reverse;
        }
        .bottom{

            flex-direction: column-reverse;
        }
    }
}