.timeline-container {

    // background-image: url("../../../public/assets/umd2.jpg");
    // background-color: red;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 100vw;
    position: relative;

}


.timeline-entry {
    // background-color: blue;
    // margin-top: 10%;
    flex: 0 0 100vw;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 20px;
    box-sizing: border-box;
    text-align: center;
    height: 100vh;
    position: relative;
    z-index: 2;
}

/* Specific background for the first entry */
.timeline-entry:first-child {
    background-image: url("../../../public/assets/timeline_start.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Ensures the image fits the element */
}

/* Specific background for the last entry */
.timeline-entry:last-child {
    background-image: url("../../../public/assets/timeline_end.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Ensures the image fits the element */
}

/* Default background for all other entries */
.timeline-entry:nth-child(odd) {
    background-image: url("../../../public/assets/timeline_mid_top.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Ensures the image fits the element */
}

.timeline-entry:nth-child(even) {
    background-image: url("../../../public/assets/timeline_mid_bottom.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Ensures the image fits the element */
}
